@global-import 'rc-slider/assets/index.css';

.blockLeft {
    width: 46%;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .subtitle {
        width: 100%;
        font-size: 15px;
    }

    .monthSubTitle {
        width: 100%;
        font-size: 15px;
        margin: 30px 0 10px 0;
    }

    .month {
        font-size: 15px;
        color: #9057bf;
    }

    .containerSlide {
        width: 100%;
        margin: 20px 0;
        min-height: 50px;
    }

    .value {
        font-size: 18px;
        color: var(--color-gray-1);
    }

    .input {
        font-size: 18px;
        color: var(--color-gray-1);
        border: 0;
        background: transparent;

        &:focus {
            outline: 0;
        }
    }
}

.button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #9057bf;
    background: transparent;
    cursor: pointer;

    &:nth-child(1) {
        margin-right: 15px;
    }

    > span {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .symbol {
        &::before,
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: block;
            margin: auto;
            border-radius: 2px;
            content: '';
        }
    }

    &.minus .symbol {
        &::after {
            width: 18px;
            height: 1px;
            background-color: #9057bf;
        }
    }

    &.plus .symbol {
        &::after {
            width: 1px;
            height: 18px;
            background-color: #9057bf;
        }

        &::before {
            width: 18px;
            height: 1px;
            background-color: #9057bf;
        }
    }

    &:active {
        background-color: #9057bf;

        .symbol {
            &::after {
                background-color: white;
            }
        }

        &.plus .symbol {
            &::before {
                background-color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    .blockLeft {
        margin-top: 30px;
        width: 100%;
        max-width: 512px;

        .value {
            display: inline-flex;
            max-width: 50%;
        }
    }
}
